.time-container {
  text-align: center;
}

#current-time {
  font-size: 2em;
}

.banner{
  background-color: #2980b9;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.banner h1{
  color: #ECF0F1;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.banner i{
  color:#ECF0F1;
  font-size: 50px;
}

.banner img{
  width: 70px;
  transform: scaleX(-1);
}

.parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 20px;
  align-items: center;
  margin: 0 auto; 
}

.from, .to{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bolder;
  margin-top: 20px;
  padding: 10px;
}


select {
  font-size: 16px;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px;
}

.btn-grp{
  display: flex;
  justify-content: center;
}

button{
  background-color: #2980b9;
  border: none;
  font-size:16px;
  color: white;
  padding: 16px 32px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 2px  ;
  transition-duration: 0.4s;
  cursor: pointer;
}

#showAll{
  background-color: #EA5455;
}

button:hover {
  background-color: #2C3E50;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #002B5B;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #002B5B;
  color: white;
}

tr:nth-child(even) {
  background-color: #F9F5EB;
}

tr:hover {
  background-color: #E4DCCF;
}
